<html>
<head>
  <title>Cheap Airline Ticket Information</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

	<script src="./javascripts/cheapFlightApp.js"></script>
  
</head>

 <body ng-app="cheapFlightApp">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>
</body>


</html>